.cell {
  height: 20px;
  width: 20px;
  border: outset;
  border-color:silver ;
}

img {
  height: 15px;
  width: 15px;
}

.shown {
  background-color: #8f8b8b;
  border: inset;
}

.timer {
  display: none;
}

.selectedHint{
outline: auto;
}

body{
    text-align: center;
    background-color: #ecede0;
    font-size: large;
    font-family: monospace;
}

.table{
    margin-left: auto;
    margin-right: auto;
    cursor: crosshair;
}

.shown.mine{
  background-color: #ff000099;
}

/* .manual button{
  border: 0mm;
} */

.credit{
  position: fixed;
  bottom: 0px;
}

.selected-cell{
  outline: auto;
}